.accueil-config {
    margin: 3%;
    padding: 15px;
    background-color: white;
}

.accueil-entete1-gauche {
    background-color: #f9b900;
    width: 50%;
    padding: 15px;
    border-radius: 5px 0px 0px 5px;
}

.accueil-entete1-droite {
    background-color: #e4e4e4;
    width: 50%;
    padding: 15px;
    border-radius: 0px 5px 5px 0px;
}

.header-logo {
    max-width: 60px;
}

.header-logo0 {
    max-width: 50%;
    margin-left: 27%;
}

.header-title {
    color: white;
    text-align: center;
    width: 35%;
    font-weight: bold;
    margin-top: 15px;
}

.accueil-footer {
    background-color: #FF9800;
    height: 80px;
    border-radius: 5px;
}

.accueil-menu-item {
    width: 30%;
    height: 30px;
    background-color: yellow;
    padding: 15px;
    text-align: center;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}