
<!-- <h3>Accueil Component</h3>  -->
 
 <div class="accueil-config" style="height: 100%; overflow: hidden;  overflow-y: scroll;">

    <!-- Accueil de présentation  -->
   
    
    <div class=" presentation-voiture" *ngFor="let voiture of listeVoiture, let i = index" style="margin: 5px; padding: 5px; border: 1px solid #efee9b;">
        
        <div class="row">
            <div class="col-md-4">
                <!-- <img src="../../../assets/img/voiture1.PNG" alt="" srcset=""> -->
                <img [src]="voiture.image" alt="" srcset="">
            </div>
            
            <div class="col-md-4">
               <div>  Marque : {{ voiture.marque }} </div>
               <div> Modele : {{ voiture.modele }}  </div> 
               <div> Type : {{ voiture.type }}  </div> 
            </div>
             
            <div class="col-md-4">
                <div>  Carburant : {{ voiture.carburant }} </div>
                <div> Annee : {{ voiture.annee }}  </div> 
                <div> Cylendre : {{ voiture.cylendre }}  </div> 
             </div>

             <div class="col-md-12" style="text-align: center;" *ngIf="visit == 'edit'">
                <button (click)="procShowCommentaires(voiture.id)" > Voir tous les commentaires </button>
                <button (click)="procShowFormulaire(voiture.id)"> Nouvelle commentaire </button>
            </div>


        </div>

        
        <div *ngIf="voitureId == voiture.id">            
            <div *ngFor="let com of listCommentaireVoiture">
                "  {{ com.message }}  "
            </div>
        </div>


        <div class="row commentaire" *ngIf="voitureId == voiture.id" style="margin: 5px;">
            <div class="col-md-3">Nouvelle commentaire</div>
            
            <div class="col-md-6 myform" style="text-align: center;">
                <input class="myinput" name="commentaire" [(ngModel)]="commentaire" type="text" placeholder="commentaire">
              </div>

              <div class="col-md-3">
                <button (click)="proc_send_commentaire(voiture.id)"> Envoyer </button>
              </div>
              
        </div>
            
  
    </div>



 </div>
