.flex-container {
  display: flex;
}

.myfooter {
	background-color: #ce9746;
  padding: 8px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 3px;
  color: white;
  position: absolute;
  width: -webkit-fill-available;
}