.r-container-entete {
    background-color: #a9a7a5;
    text-align: center;
    color: white;
    margin: 15px;
    padding: 5px;
    border: 1px solid #cab78d;
}

.r-container {
    background-color: white;
    margin: 15px;
    padding: 5px;
}
