.flex-container {
    display: flex;
}

.flex-container-vertical {
  display: flex;
  flex-direction: column;
}

.flex-container-horizontal {
  display: flex;
  flex-direction: row;
}

.containerPages{
  /*width: 70%;*/
  height: 580px;
  background-color: beige;
}

.left-menu{
  background-color: #FFF;
  width: 15%;
  margin-left: 0px;
  box-shadow: -2px 0px 5px #AAA;
}

.right-parametre{
  background-color: #FFF;
  width: 15%;
  margin-left: 0px;
  box-shadow: -3px 0px 5px #AAA;
}

.my-container{
 
}

h1 { 
  color:green; 
} 
h3 {  
  width: 100%;  
  animation-name: text;  
  animation-duration: 2s;   
  animation-iteration-count: initial;  
}  
#one {  
  animation-direction: normal;  
}  
@keyframes text {  
  from {  
      margin-left: 60%;  
  }  
  to {  
      margin-left: 0%;  
  }  
} 

.entete-menu {
  border: 1px solid grey;
  padding: 5px;
  text-align: center;
  background-color: #a9a7a5;
  color: white;
}

.item-menu {
  border: 1px solid #f9f9f9;
  padding: 5px;
}

.item-menu:hover {
  border: 1px solid #f9f9f9;
  padding: 5px;
  background-color: #ce9746;
  color: #FFF;
}

.rbutton {
  width: 50px;
  padding: 5px;
  max-height: 30px;
  max-width: 30px;
  background-color: white;
  color: #985f0f;
  border: 0px;
  border-radius: 5px 5px 5px 5px;
}

/* CSS length ml */
.ml-left1-right1 {
  width: 15%;
}

.ml-mleft0-right1 {
 
}

.ml-left1-right0 {
  width: 15%;
  height: 86vh;
}

.ml-left0-right0 {
  
}

/* CSS length mc */
.mc-left1-right1 {
  width: 70%;
}

.mc-left0-right1 {
  width: 85%;
}

.mc-left1-right0 {
  width: 85%;
}

.mc-left0-right0 {
  width: 100%;
}

/* CSS length mr */
.mr-left1-right1 {
  width: 15%;
}

.mr-mleft0-right1 {
  width: 15%;
}

.mr-left1-right0 {
  
}

.mr-left0-right0 {
  
}