<app-navheader
  (hideMenu)="hideMenuLateral($event)"
  (showMenu)="showMenuLateral($event)"
  (toggleParam)="ToggleMenuParam($event)"
></app-navheader>

<div class="flex-container my-container">

  <!-- Left Menu // // 0: LR , 1: !LR, 2: L!R, 3: !L!R -->
  <div [ngClass]="{
    'ml-left1-right1': contentClassValue==0,
    'ml-left0-right1': contentClassValue==1,
    'ml-left1-right0': contentClassValue==2,
    'ml-left0-right0': contentClassValue==3
  }" 
  class="left-menu" *ngIf="visibleLeftMenu">
    <div class="entete-menu">Menu</div>
    <app-navlateral (changeContainer)="changeContainer($event)"></app-navlateral>
  </div>
  
  <div [ngClass]="{
    'mc-left1-right1': contentClassValue==0,
    'mc-left0-right1': contentClassValue==1,
    'mc-left1-right0': contentClassValue==2,
    'mc-left0-right0': contentClassValue==3
  }" 
  class="containerPages">
    <!-- Integration des différents page ici  | // 0: LR , 1: !LR, 2: L!R, 3: !L!R-->
    <ng-container [ngSwitch]="ecranValue">

      <app-accueil *ngSwitchCase="'app-accueil'"></app-accueil>

      <app-utilisateur *ngSwitchCase="'app-liste-utilisateur'"></app-utilisateur>
      
      <app-liste-projet *ngSwitchCase="'app-liste-projet'"></app-liste-projet>

    </ng-container>

    <!--<app-liste-utilisateur ></app-liste-utilisateur> -->
    <!-- <app-utilisateur></app-utilisateur>  -->

  </div>

  <div [ngClass]="{
    'mr-left1-right1': contentClassValue==0,
    'mr-left0-right1': contentClassValue==1,
    'mr-left1-right0': contentClassValue==2,
    'mr-left0-right0': contentClassValue==3
  }"  
  class="right-parametre flex-container-vertical" *ngIf="visibleRightParam">
    <div class="entete-menu">Configuration</div>  

    <div class="item-menu flex-container-horizontal" (click)="ToggleMenu()">
      <div>
        <button class="rbutton" (click)="ToggleMenu()">
          <img src="../../../../assets/img/icon_menu_left.png" width="100%" alt="logo_img">
        </button>
      </div>
      <div style="text-align: center;margin-left: 6px; padding: 6px;">Menu</div> 
    </div>

    <div class="item-menu flex-container-horizontal" (click)="proc_deconnexion()">
      <div>
        <button class="rbutton" (click)="proc_deconnexion()">
          <img src="../../../../assets/img/icon_btn_deconnexion.png" width="100%" alt="logo_img">
        </button>
      </div>
      <div style="text-align: center;margin-left: 6px; padding: 6px;">Deconnexion</div> 
    </div>


  </div>
    
</div>


<app-navfooter></app-navfooter>