.myContainer {
    background-color: #FEBF17;
    /*width: 200px;
    height: 200px;*/
}

.header {
    /*background-color: rgb(89, 254, 23);*/
    width: 1350px;
    height: 80px;
}

canvas.d-particles {
    pointer-events: none;
}

/* *********************  Configuration EnteteLogin   ************************  */
.entetelogin {
    
}

.enteteloginleft {
    display: inline-block;
    width: 750px;
}

.enteteloginright {
    display: inline-block;
}

#idengineer {
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    color: #542727;
    font-family: cursive;
}

/* *********************  Configuration ContentLogin   ************************  */
.content {
    background-color: rgb(254, 239, 23);
    width: 950px;
    margin: 95px;
}

.contentlogin {

}

.contentloginleft {
    background-color: rgb(220, 200, 12);
    display: inline-block;
    width: 580px;
    margin: 10px;
}

.myimg {
    text-align: center;
}


.contentloginright {
    /*background-color: rgb(204, 254, 23);*/
    display: inline-block;
    width: 350px;
}

.mybutton {

}

.rbutton {
    width: 200px;
    padding: 5px;
    background-color: #985f0f;
    color: white;
    border: 0px;
    border-radius: 5px 5px 5px 5px;
}

.myform {
    margin: 5px;
}

.myinput {
    width: 200px;
    border: 0px;
    padding: 5px;
}

.formulaire {
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #eabf0894;
}

.RememberMe {
    display: inline-block;
}

.ForgotPassword {
    display: inline-block;
}

/* *********************  Configuration FooterLogin   ************************  */
.footer {
    /*background-color: rgb(89, 254, 23);*/
    width: 1350px;
    height: 80px;
}



