 <div  class="container">

 

    <div class="content">

      <div class="entetelogin">

        <div class="enteteloginleft" style="padding: 10px;">
          <b>ABNEX (POST CAR)</b> 
        </div>

        <div class="enteteloginright">
          <p id="idengineer">abnex.group</p>
        </div>

      </div>

      <div class="contentlogin">

        <div class="contentloginleft">
          
          <div class="myimg"> <br/> <br/><br/> <br/> <br/><br/> </div>
          <div class="myimg"> <img src="../../../../assets/img/image_bonjour.png" alt="Photo bonjour"> </div>
          <div class="myimg"> <br/> <br/><br/> <br/><br/><br/> </div>
          <!---->
        </div>

        <div class="contentloginright">
          <div class="formulaire">
            <div style="text-align: center;color: white;"><h2>Post car</h2></div>
            <hr/>
            <div style="text-align: center;color: white;">
              Description du projet , lister et commenter une voiture
            </div>
            <br/>
            <div class="myform" style="text-align: center;">
              <input class="myinput" name="email" [(ngModel)]="email" type="text" placeholder="Nom">
            </div>

            <div class="myform" style="text-align: center;">
                <input class="myinput" name="password" [(ngModel)]="password" type="password" placeholder="Password">
            </div>

            <div class="mybutton" style="text-align: center;">
                <button class="rbutton" (click)=proc_login()>Login</button>
            </div>

            <br/>

            <div style="text-align: center;">
                <div class="RememberMe" style="margin-right: 30px;">
                  <input type="checkbox" name="remember" id="remember" />
                  <label for="remember">Remember me</label>
                </div>
                <div class="ForgotPassword">
                  <a href="#">Forgot password</a> 
                </div>
            </div>
            <br/>
            <hr/>

            <div class="mybutton" style="text-align: center;">
                <button class="rbutton" (click)=proc_route_acueil()>Visiter accueil</button>
            </div>

            <br/>

          </div>
        </div>

      </div>

      <div class="footerlogin">
      </div>
      
    </div>

  </div>