.flex-container {
  display: flex;
}

.myheader {
	background-color: #ce9746;
  padding: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  color: white;
}

.header-logo {
  max-width: 30px;
}

.titre-header {
  padding: 5px;
  font-size: larger;
}

.img-profil{
  max-width: 36px;
}

.nom-profil{
  font-size: 20px;
  text-align: right;
  max-width: 100px;
  padding: 5px;
  margin-right: -120px;
}

.param-profil{
  margin-left: 30px;
  text-align: right;
}

.rbutton {
  width: 50px;
  padding: 5px;
  max-height: 30px;
  max-width: 30px;
  background-color: white;
  color: #985f0f;
  border: 0px;
  border-radius: 5px 5px 5px 5px;
}

