<div class="flex-container myheader">
	
	<div style="flex-grow: 1; margin-right: 10px;" class="header-logo">
		<b>ABNEX</b> 
	</div>

	<div style="flex-grow: 1" class="titre-header" >	
		(POST CAR)
	</div>
	
	<div style="flex-grow: 5"></div>

	<div style="flex-grow: 1" class="img-profil">
		<img src="../../../../assets/img/img_login.png" width="100%" alt="logo_img">
	</div>

	<div style="flex-grow: 1" class="nom-profil">
		Administrateur
	</div>

	<div style="flex-grow: 1" class="param-profil">
		<button class="rbutton" (click)=proc_toggle_param()>
			<img src="../../../../assets/img/img_param.png" width="100%" alt="logo_img">
		</button>
	</div>
	
</div>