
.item-menu {
    border: 1px solid #f9f9f9;
    padding: 5px;
  }
  
.item-menu:hover {
border: 1px solid #f9f9f9;
padding: 5px;
background-color: #ce9746;
color: #FFF;
}

.rbutton {
width: 50px;
padding: 5px;
max-height: 30px;
max-width: 30px;
background-color: white;
color: #985f0f;
border: 0px;
border-radius: 5px 5px 5px 5px;
}

.mylateral {
    background-color: white;
    min-width: auto;
    min-height: 80%;
    padding: 5px;
}

.menu{
	border: 1px solid #d2d2d2;
    border-radius: 2px;
    padding: 2px;
    background-color: #ececec;
}