<div class="flex-container-vertical mylateral">

	<div class="item-menu flex-container-horizontal" (click)="changeRouting('app-accueil')">
		<div>
			<button class="rbutton">
			<img src="../../../../assets/img/icon_accueil.png" width="100%" alt="logo_img">
			</button>
		</div>
		<div style="text-align: center;margin-left: 6px; padding: 6px;">Accueil</div> 
	</div>

	<!-- <div class="item-menu flex-container-horizontal" (click)="changeRouting('app-liste-projet')">
		<div>
			<button class="rbutton" >
			<img src="../../../../assets/img/icon_utilisateur.png" width="100%" alt="logo_img">
			</button>
		</div>
		<div style="text-align: center;margin-left: 6px; padding: 6px;">Projet</div> 
	</div>

	<div class="item-menu flex-container-horizontal" (click)="changeUtilisateur()">
		<div>
			<button class="rbutton" >
			<img src="../../../../assets/img/icon_utilisateur.png" width="100%" alt="logo_img">
			</button>
		</div>
		<div style="text-align: center;margin-left: 6px; padding: 6px;">Tache</div> 
	</div>

	<div class="item-menu flex-container-horizontal" (click)="changeUtilisateur()">
		<div>
			<button class="rbutton" >
			<img src="../../../../assets/img/icon_utilisateur.png" width="100%" alt="logo_img">
			</button>
		</div>
		<div style="text-align: center;margin-left: 6px; padding: 6px;">Etat</div> 
	</div>

	<div class="item-menu flex-container-horizontal" (click)="changeRouting('app-liste-utilisateur')">
		<div>
			<button class="rbutton" >
			<img src="../../../../assets/img/icon_utilisateur.png" width="100%" alt="logo_img">
			</button>
		</div>
		<div style="text-align: center;margin-left: 6px; padding: 6px;">Utilisateur</div> 
	</div> -->

	<div class="item-menu flex-container-horizontal" (click)="changeAide()">
		<div>
			<button class="rbutton" (click)="changeAide()">
			<img src="../../../../assets/img/icon_aide.png" width="100%" alt="logo_img">
			</button>
		</div>
		<div style="text-align: center;margin-left: 6px; padding: 6px;">Aide</div> 
	</div>
	
</div>