/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~datatables.net-dt/css/jquery.dataTables.css';

body {
    background-color: #FAA937;
}

/* Flex configuration  for all page */
.flex-container {
    display: flex;
}

.flex-container-vertical {
  display: flex;
  flex-direction: column;
}

.flex-container-horizontal {
  display: flex;
  flex-direction: row;
}